body{
    background: url("https://naldzgraphics.net/wp-content/uploads/2014/07/7-chinese-paper-texture.jpg");
    font-family:sans-serif;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-decoration:none;
    background:white;
    height:100px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}

.navButton{
    background-color: lightgray;
    padding:10px;
    position:fixed;
    top:0;
    margin-top:35px;
}

.navButton:hover{
    background-color:gray;
}

a{
    text-decoration:none;
    color:black;
}

img{
    margin-left: 50px;
    height:100px;
    margin-right:30px;
}

.page{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:6em;
    padding-right:6em;
    position:fixed;
    top:120px;
    left:50%;
    transform: translateX(-50%);
    width: 80vw;
    background:white;
    height: calc(100vh - 200px);
    overflow:auto;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
}

.italic{
    font-style: italic;
}